<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title >Currency Rates</title>
</head>
<body>
    <h1 style="text-align:center;">Currency Rates</h1>
    
      <h3 id = "base" style="text-align:center;"> </h3>
      <h3 id="ratetoday" style="text-align:center;"></h3>
      <h4 id="inr" style="text-align:center;"></h4>
      <h4 id="gbp" style="text-align:center;"></h4>
      <h4 id="eur" style="text-align:center;"></h4>
      <h4 id="jpy" style="text-align:center;"></h4>
      <h4 id="cny" style="text-align:center;"></h4>
      <h4 id="aud" style="text-align:center;"></h4>
      <h4 id="cad" style="text-align:center;"></h4>
    <script>
        var currency = JSON.parse('{{ currency | tojson | safe}}');
        function setElements() {
          var base = document.getElementById('base');
          base.innerHTML = "US Dollar to Indian Rupee, British Pound, European Euro, Japanese Yen, Chinese Yuan, Austrailian Dollar, and Candian Dollar"
          ratetoday.innerHTML = "Today's Date: "+currency.date

          inr.innerHTML = "1 USD to INR: " + currency.rates.INR
          gbp.innerHTML = "1 USD to GBP: " + currency.rates.GBP
          eur.innerHTML = "1 USD to EUR: " + currency.rates.EUR
          jpy.innerHTML = "1 USD to JPY: " + currency.rates.JPY
          cny.innerHTML = "1 USD to CNY: " + currency.rates.CNY
          aud.innerHTML = "1 USD to AUD: " + currency.rates.AUD
          cad.innerHTML = "1 USD to CAD: " + currency.rates.CAD
        }  
    
        
      window.onload = function() {
  setElements();
}
    </script>
</body>
</html>