<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title >Currency Rates</title>
</head>
<body>
  <table>
    <tr>
      <th>
        Prime 2
      </th>

    </tr>


  </table>
  <div align="left">
    <h1 style="text-align:left;">Currency Rates</h1>
    
      <h3 id = "base" style="text-align:left;"> </h3>
      <h3 id="ratetoday" style="text-align:left;"></h3>
      <h4 id="inr" style="text-align:left;"></h4>
      <h4 id="gbp" style="text-align:left;"></h4>
      <h4 id="eur" style="text-align:left;"></h4>
      <h4 id="jpy" style="text-align:left;"></h4>
      <h4 id="cny" style="text-align:left;"></h4>
      <h4 id="aud" style="text-align:left;"></h4>
      <h4 id="cad" style="text-align:left;"></h4>
    </div>
    <script>
        var currency = JSON.parse('{{ currency | tojson | safe}}');
        function setElements() {
          var base = document.getElementById('base');
          base.innerHTML = "Current Exchange Rates"
          ratetoday.innerHTML = "Today's Date: "+currency.date

          inr.innerHTML = "1 USD to Indian Rupee: " + currency.rates.INR
          gbp.innerHTML = "1 USD to British Pound: " + currency.rates.GBP
          eur.innerHTML = "1 USD to Euro: " + currency.rates.EUR
          jpy.innerHTML = "1 USD to Japanese Yen: " + currency.rates.JPY
          cny.innerHTML = "1 USD to Chinese Yuan: " + currency.rates.CNY
          aud.innerHTML = "1 USD to Australian Dollar: " + currency.rates.AUD
          cad.innerHTML = "1 USD to Candian Dollar: " + currency.rates.CAD
        }  
    
        
      window.onload = function() {
  setElements();
}
    </script>
</body>
</html>